# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/

# WiX
*.wixobj
*.wixpdb

# User-specific files
*.userprefs

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Application files
*.log
